.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 8px 0 0;
  padding: 0;

  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
        margin: 7px 0 0;
        padding: 0 30px 0 0;
        align-self: baseline;

        max-width: 200px;
      }
}
