.profile__edit-button{
  width: 24px;
  height: 24px;
  background: url(../../../image/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border: 1px solid white;
  margin: 15px 0 0 18px;
  transition: 0.5s ease;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
    .profile__edit-button{
        max-width: 18px;
        max-height: 18px;
        margin: 8px 0 0 10px;
        background-size: 7.5px;
      }
}
