.authorization__input{
  background:none;
  border: none;
  border-bottom: 2px solid white;
  padding: 0 0 9px;
  line-height: 16.94px;
  width: 100%;
  font-size: 14px;
  color: white;
}

.authorization__input:first-child{
  margin: 0 0 30px;
}
